.poster-wrapper-mobile
  = render partial: 'concert/concert_mobile', collection: @archive_concerts

.posters-container
  = render partial: 'concert/concert', collection: @archive_concerts
  .clearfix
= render partial: 'pagination/link_to_next_page', locals: {collection: @archive_concerts}