.concerts id="future-concerts"
  .row
    .col-xs-12
      h1.block-title
        = link_to "Архив концертов", archive_concerts_index_path

  .poster-wrapper-mobile
    - @archive_concerts.each do |concert|
      .row
        .poster-mobile-content
          .col-xs-6
            = link_to concert_show_path(concert.slug), class: 'js-popup-link'
              = image_tag concert.poster_image.url
          .col-xs-6
            .poster-mobile-info-content
              .poster-mobile-title #{concert.name}
              .poster-mobile-text #{concert.place}
              .poster-mobile-date #{l concert.date_start.to_date} #{concert.date_start.hour}:#{concert.date_start.min.to_s.rjust(2, '0')}
              - concert.bands.each do |band|
                .poster-mobile-band #{band.name}

              .poster-mobile-price Вход: #{concert.ticket_price}р.

  .posters-container
    .row
      - @archive_concerts.each do |concert|
        .col-md-3.poster-block
          = link_to concert_show_path(concert.slug), class: 'js-popup-link'
            = image_tag concert.poster_image.url, class: "poster"
            .poster-info
              .title #{concert.name}
              .place #{concert.place}
              .date #{l concert.date_start.to_date} #{concert.date_start.hour}:#{concert.date_start.min.to_s.rjust(2, '0')}
              - concert.bands.each do |band|
                .band #{band.name}

              .payment Вход: #{concert.ticket_price}р.