.row
  .poster-mobile-content
    .col-xs-6
      = link_to concert_show_path(concert_mobile.slug), class: 'js-popup-link'
        = image_tag concert_mobile.poster_image.url
    .col-xs-6
      .poster-mobile-info-content
        .poster-mobile-title #{concert_mobile.name}
        .poster-mobile-text #{concert_mobile.place}
        .poster-mobile-date #{l concert_mobile.date_start.to_date} #{concert_mobile.date_start.hour}:#{concert_mobile.date_start.min.to_s.rjust(2, '0')}
        - concert_mobile.bands.each do |band|
          .poster-mobile-band #{band.name}

        .poster-mobile-price Вход: #{concert_mobile.ticket_price}р.