.col-md-3.poster-block
  = link_to concert_show_path(concert.slug), class: 'js-popup-link'
    = image_tag concert.poster_image.url, class: "poster"
    .poster-info
      .title #{concert.name}
      .place #{concert.place}
      .date #{l concert.date_start.to_date} #{concert.date_start.hour}:#{concert.date_start.min.to_s.rjust(2, '0')}
      - concert.bands.each do |band|
        .band #{band.name}

      .payment Вход: #{concert.ticket_price}р.