.concerts id="future-concerts"
  .row
    .col-xs-12
      h1.block-title
        = link_to "Ожидаются", future_concerts_index_path

  .poster-wrapper-mobile
    - for i in 1..@concerts.count - 1
      - unless @concerts[i].nil?
        .row
          .poster-mobile-content
            .col-xs-6
              = link_to concert_show_path(@concerts[i].slug), class: 'js-popup-link'
                = image_tag @concerts[i].poster_image.url
            .col-xs-6
              .poster-mobile-info-content
                .poster-mobile-title #{@concerts[i].name}
                .poster-mobile-text #{@concerts[i].place}
                .poster-mobile-date #{l @concerts[i].date_start.to_date} #{@concerts[i].date_start.hour}:#{@concerts[i].date_start.min.to_s.rjust(2, '0')}
                - @concerts[i].bands.each do |band|
                  .poster-mobile-band #{band.name}

                .poster-mobile-price Вход: #{@concerts[i].ticket_price}р.

  .posters-container
    .row
      - for i in 1..@concerts.count - 1
        - unless @concerts[i].nil?
          .col-md-3.poster-block
            = link_to concert_show_path(@concerts[i].slug), class: 'js-popup-link'
              = image_tag @concerts[i].poster_image.url, class: "poster"
              .poster-info
                .title #{@concerts[i].name}
                .place #{@concerts[i].place}
                .date #{l @concerts[i].date_start.to_date} #{@concerts[i].date_start.hour}:#{@concerts[i].date_start.min.to_s.rjust(2, '0')}
                - @concerts[i].bands.each do |band|
                  .band #{band.name}

                .payment Вход: #{@concerts[i].ticket_price}р.