.last-concert-wrapper
  .row
    .col-xs-6.col-md-4.col-md-offset-1
      = link_to concert_show_path(@concerts[0].slug), class: 'js-popup-link'
        = image_tag @concerts[0].poster_image.url, class: "last-concert-image"
    .col-xs-6.col-md-6
      .last-concert-info
        = link_to concert_show_path(@concerts[0].slug), class: 'js-popup-link'
          .title #{@concerts[0].name}
        .place #{@concerts[0].place}
        .date-wrapper
          .date #{l @concerts[0].date_start.to_date}
          .time Начало: #{@concerts[0].date_start.hour}:#{@concerts[0].date_start.min.to_s.rjust(2, '0')}
        .bands
          - @concerts[0].bands.each do |band|
            .anonce-band #{band.name}

        .payment Вход: #{@concerts[0].ticket_price}p.
  .row
    .col-xs-12
      = link_to "Cледующие консерты", future_concerts_index_path, class: 'next-concerts-link'