.container
  - if @concerts.count > 0
    = render 'concert/last_concert'
    = render partial: 'concert/future_concerts'
  - if @archive_concerts.count > 0
    = render partial: 'concert/archive_concerts'