<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Concert Message</title>
  <!--[if (gte mso 9)|(IE)]>
  <style type="text/css">
    table {border-collapse: collapse !important;}
  </style>
  <![endif]-->
</head>
<body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#ffffff;line-height:16px;" >
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" >
  <div class="webkit" style="max-width:600px;" >
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;" >
      <tr>
        <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
    <![endif]-->
    <table class="outer" align="center" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;Margin:0 auto;width:100%;max-width:600px;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
      <tr>
        <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
          <table class="table-with-border" align="center" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;border-width:2px;border-style:solid;border-color:#ffffff;width:100%;" >
            <tr>
              <td class="header" style="font-size:44px;text-align:center;padding-top:40px;padding-bottom:40px;padding-right:0;padding-left:0;" >
                KemRockFest
              </td>
            </tr>
            <tr>
              <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                <table width="100%" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;" >
                  <tr>
                    <td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:left;" >
                      <p class="theme-message" style="Margin:0;text-align:center;font-size:26px;padding-bottom:40px;" >Новый концерт</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="two-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;font-size:0;" >
                <!--[if (gte mso 9)|(IE)]>
                <table width="100%" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;" >
                  <tr>
                    <td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                <![endif]-->
                <div class="column" style="width:100%;max-width:280px;display:inline-block;vertical-align:top;" >
                  <table width="100%" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;" >
                    <tr>
                      <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                        <table class="contents" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;width:100%;font-size:14px;text-align:left;" >
                          <tr>
                            <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                              <img src="http://kemrockfest.ru/<%= concert.poster_image %>" alt="" style="border-width:0;width:100%;height:auto;" />
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
                <!--[if (gte mso 9)|(IE)]>
                </td><td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                <![endif]-->
                <div class="column" style="width:100%;max-width:280px;display:inline-block;vertical-align:top;" >
                  <table width="100%" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;" >
                    <tr>
                      <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                        <table class="contents" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;width:100%;font-size:14px;text-align:left;" >
                          <tr>
                            <td class="message-body-title" style="padding-top:0;padding-right:0;padding-left:0;color:#ff6161;font-size:20px;text-align:center;font-weight:bold;padding-bottom:20px;" >
                              <%= concert.name %>
                            </td>
                          </tr>
                          <tr>
                            <td class="message-body-item" style="padding-top:0;padding-right:0;padding-left:0;font-size:16px;font-weight:bold;padding-bottom:10px;" >
                              <span class="message-body-item-title" style="color:#658cda;" >Место:</span>&nbsp;<%= concert.place %>
                            </td>
                          </tr>
                          <tr>
                            <td class="message-body-item" style="padding-top:0;padding-right:0;padding-left:0;font-size:16px;font-weight:bold;padding-bottom:10px;" >
                              <span class="message-body-item-title" style="color:#658cda;" >Дата:</span>&nbsp;<%= l concert.date_start.to_date %>
                            </td>
                          </tr>
                          <tr>
                            <td class="message-body-item" style="padding-top:0;padding-right:0;padding-left:0;font-size:16px;font-weight:bold;padding-bottom:10px;" >
                              <span class="message-body-item-title" style="color:#658cda;" >Сбор гостей:</span>&nbsp;<%= "#{concert.date_start.hour}:#{concert.date_start.min}" %>
                            </td>
                          </tr>
                          <tr>
                            <td class="message-body-item" style="padding-top:0;padding-right:0;padding-left:0;font-size:16px;font-weight:bold;padding-bottom:10px;" >
                              <span class="message-body-item-title" style="color:#658cda;" >Играют:</span>

                            </td>
                          </tr>
                          <tr>
                            <td class="message-body-item" style="padding-top:0;padding-right:0;padding-left:0;font-size:16px;font-weight:bold;padding-bottom:10px;" >
                              <ul class="message-body-item__list" style="list-style-type:none;list-style-position:outside;list-style-image:none;padding-left:20px;Margin:0;padding-bottom:10px;" >
                                <% concert.bands.each do |band| %>
                                    <li><%= band.name %></li>
                                <% end %>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td class="message-body-item" style="padding-top:0;padding-right:0;padding-left:0;font-size:16px;font-weight:bold;padding-bottom:10px;" >
                              <span class="message-body-item-title" style="color:#658cda;" >Вход:</span>&nbsp;<%= concert.ticket_price %>р.
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
              </td>
            </tr>
            <tr>
              <td class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;" >
                <!--[if (gte mso 9)|(IE)]>
                <table width="100%" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;" >
                  <tr>
                    <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                <![endif]-->
                <table class="column" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;width:100%;max-width:130px;display:inline-block;vertical-align:top;" >
                  <tr>
                    <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                      <table class="contents" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;width:100%;font-size:14px;text-align:center;" >
                        <tr>
                          <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td><td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                <![endif]-->
                <table class="column show-more-block" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;width:100%;display:inline-block;vertical-align:top;max-width:320px;" >
                  <tr>
                    <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                      <table class="contents" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;width:100%;font-size:14px;text-align:center;" >
                        <tr>
                          <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                            <a href="http://kemrockfest.ru/concerts/<%= concert.slug %>" class="show-link" style="display:block;line-height:50px;width:300px;background-color:#ff6161;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;text-align:center;text-decoration:none;font-weight:bold;" >Посмотреть на сайте</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td><td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                <![endif]-->
                <table class="column" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;width:100%;max-width:130px;display:inline-block;vertical-align:top;" >
                  <tr>
                    <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                      <table class="contents" style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;background-color:#000000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#ffffff;width:100%;font-size:14px;text-align:center;" >
                        <tr>
                          <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
              </td>
            </tr>
            <tr>
              <td>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </div>
</center>
</body>
</html>