.concert-detail-wrapper
  .container
    .row
      .col-xs-12.col-sm-10.col-md-offset-1
        .base-detail-page.js-page-container
          .row
            .col-xs-6.col-sm-4
              .base-detail-page__image-block
                = image_tag @concert.poster_image.url
            .col-xs-6.col-sm-8
              .base-detail-page__info-block
                h1.base-info-block__title
                  = @concert.name
                .base-info-block__info-line
                  span
                    | Место:&nbsp;
                  = @concert.place
                .base-info-block__info-line
                  span
                    | Начало:&nbsp;
                  | #{l @concert.date_start.to_date} в #{@concert.date_start.hour}:#{@concert.date_start.min.to_s.rjust(2, '0')}
                .base-info-block__info-line
                  span.span-with-margin-10
                    | Играют:&nbsp;
                  ul
                    - @concert.bands.each do |band|
                      li
                        = band.name
                .base-info-block__info-line
                  span.inline-span
                    | Вход:&nbsp;
                  = "#{@concert.ticket_price} р."
                .base-repost
                  .base-repost__title
                    | Поделиться:
                  .base-repost__links
                    .base-repost__social-button.base-repost__social-button--vk
                      = render 'svg/vk_icon'
                    = link_to "//facebook.com/share.php?u=kemrockfest.ru#{request.fullpath}&title=#{@concert.name}", class: 'base-repost__social-button base-repost__social-button--facebook', target: '_blank'
                      = render 'svg/fb_icon'
            .clearfix
          .row
            .col-sm-10.col-sm-offset-1
              .base-detail-page__text-block
                == @concert.description
            .clearfix
      .clearfix