.concerts {
  margin-top: 50px;
  margin-bottom: 50px;

  @include at-md {
    margin-bottom: 140px;
  }

  .posters-container {
    display: none;

    @include at-md {
      display: block;
    }

    .poster-block {
      position: relative;
      margin-bottom: 40px;

      &:hover .poster {
        -webkit-box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
        -moz-box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
        box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
      }

      .poster {
        width: 100%;
      }

      &:hover .poster-info {
        opacity: 1;
        max-height: 1000px;
        min-height: 100%;
        transition: all 200ms linear;
      }

      .poster-info {
        position: absolute;
        display: block;
        background: $popup_background;
        top: 0;
        left: 0;
        z-index: 15;
        max-height: 0;
        min-height: 0;
        overflow: hidden;
        transition: all 200ms linear;
        background: $popup_background;
        padding: 24px 20px;
        opacity: 0;
        outline: 2px #fff solid;
        outline-offset: -10px;
        color: #fff;
        text-align: center;
        width: 100%;

        .title {
          color: $main_red;
          font-size: 22px;
          line-height: 26px;
          margin-bottom: 5px;
        }

        .place {
          font-size: 20px;
          line-height: 26px;
          margin-bottom: 5px;
        }

        .date {
          font-size: 20px;
          line-height: 26px;
          margin-bottom: 16px;
        }

        .band {
          margin-bottom: 3px;
          font-size: 18px;
          line-height: 24px;
        }

        .payment {
          margin-top: 36px;
          font-size: 22px;
          line-height: 26px;
        }
      }
    }
  }
}