.gallery-wrapper {
  .album-wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;

    @include at-xs {
      display: block;
    }

    @include at-md {
      display: flex;
      padding: 0;
    }
  }

  .album-container {
    position: relative;
    display: block;

    &:hover .album-preview {
      -webkit-box-shadow: 0px 6px 51px 16px rgba(38, 38, 38, 0.36);
      -moz-box-shadow: 0px 6px 51px 16px rgba(38, 38, 38, 0.36);
      box-shadow: 0px 6px 51px 16px rgba(38, 38, 38, 0.36);
    }

    @include at-xs {
      margin-bottom: 40%;
    }

    @include at-md {
      margin-bottom: 40px;
    }

    .album-preview {
      width: 100%;
    }

    .album-info {
      position: absolute;
      display: block;
      background: $popup_background;
      text-align: center;
      color: #ffffff;
      padding: 22px 24px;
      transition: all 200ms linear;
      overflow: hidden;
      outline: 2px #fff solid;
      outline-offset: -6px;
      width: 100%;

      @include at-xs {
        top: 50%;
        height: 100%;
        opacity: 1;
      }

      @include at-md {
        top: 0;
        height: 0;
        opacity: 0;
      }

      .text-container {
        margin: 0;
        position: absolute;
        margin-right: -50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .name {
          font-size: 18px;
          line-height: 24px;
          color: $main_red;
          margin-bottom: 5px;

          @include at-sm {
            font-size: 26px;
            line-height: 36px;
          }

          @include at-md {
            font-size: 18px;
            line-height: 24px;
          }
        }

        .place {
          font-size: 16px;
          line-height: 20px;

          @include at-sm {
            font-size: 24px;
            line-height: 30px;
          }

          @include at-md {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }

      .date {
        text-align: left;
        font-size: 14px;
        line-height: 18px;

        @include at-xs {
          font-size: 14px;
          line-height: 18px;
        }

        @include at-sm {
          font-size: 22px;
          line-height: 36px;
        }

        @include at-md {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    &:hover .album-info {
      text-decoration: none;
      height: 100%;
      opacity: 1;
    }
  }
}

