@import "base/variables";



.articles {
  display: none;

  @include at-md {
    display: block;
  }

    .article-big {
      position: relative;
      z-index: 1;

      & img {
        width: 100%;
        max-height: 305px;
        height: auto;
      }

      &:hover {
        -webkit-box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
        -moz-box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
        box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
      }

      &:hover .article-big-text {
        opacity: 1;
        max-height: 1000px;
        min-height: 100%;
        transition: all 200ms linear;
      }
    }

    .article-big-text {
      position: absolute;
      display: block;
      background: $popup_background;
      top: 0;
      left: 0;
      padding: 40px 30px;
      opacity: 0;
      z-index: 15;
      width: 100%;
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      outline: 2px #fff solid;
      outline-offset: -14px;
      transition: all 200ms linear;
      text-align: center;
      color: #fff;

      .article-big-text__date {
        font-size: 20px;
        line-height: 20px;
        text-align: left;
      }

      .article-big-text__title {
        color: #fff;
        font-size: 30px;
        line-height: 34px;
        position: absolute;
        margin: 0;
        margin-right: -50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0 30px;
      }
    }

  .article-small {
    height: 143px;
    width: 215px;
    display: inline-block;
    margin: 13px 10px;
    position: relative;
    z-index: 1;

    &:first-child,
    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(2),
    &:last-child {
      margin-right: 0;
    }

    &:nth-child(3),
    &:last-child {
      margin-bottom: 0;
      margin-top: 6px;
    }

    &:first-child,
    &:nth-child(3) {
      margin-left: 0;
    }

    & img {
      width: 100%;
    }

    &:hover {
      -webkit-box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
      -moz-box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
      box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
    }

    &:hover .article-small-info {
      opacity: 1;
      max-height: 1000px;
      min-height: 100%;
      transition: all 200ms linear;
    }

    .article-small-info {
      position: absolute;
      display: block;
      background: $popup_background;
      top: 0;
      left: 0;
      padding: 20px;
      opacity: 0;
      z-index: 15;
      width: 100%;
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      outline: 1px #fff solid;
      outline-offset: -10px;
      transition: all 200ms linear;
      color: #fff;
      text-align: center;

      .article-small-text__date {
        font-size: 14px;
        line-height: 14px;
        text-align: left;
      }

      .article-small-text__title {
        color: #fff;
        font-size: 16px;
        line-height: 16px;
        position: absolute;
        margin: 0;
        margin-right: -50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0 20px;
      }
    }
  }
}

.articles-mobile-wrapper {
  padding: 0 15px;

  @include at-md {
    display: none;
  }

  .article-mobile-content {
    position: relative;
    margin-bottom: 40%;

    & img {
      width: 100%;
    }

    .article-mobile-text {
      position: absolute;
      background: $popup_background;
      top: 50%;
      left: 0;
      z-index: 15;
      width: 100%;
      outline: 1px #fff solid;
      outline-offset: -10px;
      color: #fff;
      text-align: center;
      height: 100%;

      @include at-xs {
        padding: 27px;
      }

      //@include at-sm {
      //  padding: 35px 30px;
      //}

      .article-mobile-text__date {
        text-align: left;

        @include at-sm {
          font-size: 16px;
          line-height: 16px;
        }

        //@include at-sm {
        //  font-size: 24px;
        //  line-height: 30px;
        //}
      }

      .article-mobile-text__title {
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        margin: 0;
        margin-right: -50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0 20px;

        @include at-xs {
          font-size: 20px;
          line-height: 20px;
        }

        //@include at-sm {
        //  font-size: 32px;
        //  line-height: 40px;
        //}
      }
    }
  }
}