.article-section {
  margin-top: 100px;

  .article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .article-poster {
      width: 400px;
      height: 400px;

      img {
        width: 400px;
        height: 400px;
      }
    }

    .article-info {
      background: $main_background;
      width: 740px;
      padding: 20px;

      h2 {
        margin-top: 10px;
        margin-bottom: 20px;
      }

      h3 {
        margin-top: 0;
      }

      .article-description {

      }

      .read-more {
        color: $main_red;
        font-size: 20px;
        float: right;
        margin-top: 15px;

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.article-detail-wrapper {
  .base-detail-page {
    @include at-xs {
      padding-bottom: 20px;
    }

    @include at-sm {
      padding-bottom: 50px;
    }
  }

  .base-info-block__title {
    text-align: left;
    color: #000;
  }

  .base-detail-page__text-block {
    margin-top: 20px;
  }
}