$breakpoints: (
        'xs':(min-width: 320px),
        'sm':(min-width: 768px),
        'md':(min-width: 992px),
        'lg':(min-width: 1200px)
);

@mixin respond-to($name) {
  // If the key exists in the map
  @if map_has_key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin at-xs {
  @include respond-to('xs') {
    @content;
  }
}

@mixin at-sm {
  @include respond-to('sm') {
    @content;
  }
}

@mixin at-md {
  @include respond-to('md') {
    @content;
  }
}

@mixin at-lg {
  @include respond-to('lg') {
    @content;
  }
}