.base-container
  .row
    .col-xs-12
      .base-image
        = link_to base_show_path(base.slug), class: 'js-popup-link'
          = image_tag base.base_image.url
      .base-info
        = link_to base_show_path(base.slug), class: 'js-popup-link'
          h2.base-title = base.name
        p Адрес: #{base.address}
        p Контакты: #{base.contacts}