.base-detail-page__rep-base
  .base-detail-page__rep-base
    .container
      .row
        .col-md-10.col-md-offset-1
          .base-detail-page.js-page-container
            .base-detail-container
              .row
                .col-xs-12.col-sm-10.col-sm-offset-1
                  .base-detail-page__image-block.base-detail-page__image-block--base
                    = image_tag @base.base_image.url(:detail_page)
                .col-xs-12
                  .base-detail-page__info-block
                    h1.base-info-block__title
                      = @base.name
                .clearfix

              .row
                .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0
                  .base-detail-page__info-block
                    .base-info-block__info-line
                      span.inline
                        | Адресс:&nbsp;
                      = @base.address
                  .base-detail-page__info-block
                    .base-info-block__info-line
                      span.inline
                        | Контакты:&nbsp;
                      = @base.contacts
                  .base-detail-page__info-block
                    .base-info-block__info-line
                      span.inline
                        | Цены:&nbsp;
                      = @base.price
                  .base-detail-page__text-block.base-detail-page__text-block--min-margin
                    == @base.description

                  .base-repost.base-mobile-repost
                    .base-repost__title
                      | Поделиться:
                    .base-repost__links
                      .base-repost__social-button.base-repost__social-button--vk
                        = render 'svg/vk_icon'
                      = link_to "//facebook.com/share.php?u=kemrockfest.ru#{request.fullpath}&title=#{@base.name}", class: 'base-repost__social-button base-repost__social-button--facebook', target: '_blank'
                        = render 'svg/fb_icon'
                .col-xs-12.col-sm-5.col-sm-offset-1
                  #base-map.base-detail-page__map data-latitude="#{@base.latitude}" data-longitude="#{@base.longitude}" data-hint="#{@base.name}" data-content="#{@base.address}"
              .row
                .col-xs-12
                  .base-detail-page__slider-grid
                    - @base.rehearsal_point_slider_images.each do |slide|
                      = link_to slide.image.url, class: 'base-detail-page__slider-grid-image swipebox js-photo-open', 'rel': 'base', 'title': slide.description
                        = image_tag slide.image.preview.url
            .clearfix