.col-xs-12.col-sm-6.col-md-3
  = link_to gallery_show_path(concert.photo_album), class: 'album-container'
    = image_tag concert.photo_album.preview_image.url, class: 'album-preview'
    .album-info
      .date = l concert.date_start, format: '%e %B %Y'
      .text-container
        .name = concert.name
        .place = concert.place