.container
  .gallery-wrapper
    .row
      - @photos.each do |photo|
        .col-xs-12.col-sm-6.col-md-3
          = link_to photo.photo.url, class: 'album-container swipebox js-photo-open', 'rel': "#{@album.slug}", 'title': "#{photo.comment}"
            = image_tag photo.photo.url, class: 'album-preview'

    .clearfix