- video.each do |video_item|
  .col-xs-12.col-sm-6.col-md-4
    .videos-container
      .video-block
        .title-block
          h4 #{l video_item.date_publication}
          h4 #{video_item.name}

      = link_to video_show_path(video_item.slug), class: "video-link js-popup-link"
        .video-poster
          = image_tag video_item.preview_image.url
          .description
            .description__text
              = video_item.description.html_safe