= simple_form_for(ingular_table_name) do |f|
  = f.error_notification

  .form-inputs
- attributes.each do |attribute|
    = f.attribute.reference? ? :association : :input : attribute.name

  .form-actions
    = f.button :submit
