.band-container
  .row
    .col-xs-12.col-md-6.band-image
      = link_to band_show_path(band.slug), class: 'js-popup-link'
        = image_tag band.band_image.url
    .col-xs-12.col-md-6
      .band-info
        = link_to band_show_path(band.slug), class: 'js-popup-link'
          .band-title = band.name
        - unless band.date_based.nil?
          .band-info-text.date Основана: #{l band.date_based}
        .band-info-text Жанр: #{get_genres(Band.find(band.id).genres)}
        .band-info-text.people Состав:
        ul
          - band.band_members.each do |member|
            li #{member.name} - #{member.music_role.text}