.band-detail-wrapper
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        .base-detail-page.js-page-container.base-detail-page--band
          .base-detail-container
            .row
              .col-xs-12
                .base-detail-page__info-block.no-margin
                  h1.base-info-block__title
                    = @band.name
              .col-xs-12.col-sm-10.col-sm-offset-1
                .base-detail-page__image-block.band-detail-image.band-detail-image--band
                  = image_tag @band.band_image.url(:detail_page)
              .col-xs-10.col-xs-offset-1.col-sm-7.col-sm-offset-1
                .base-detail-page__info-block
                  - @band.date_based.nil?
                    .base-info-block__info-line
                      span.inline
                        | Основана:&nbsp;
                      = "#{l @band.date_based }"
                  .base-info-block__info-line
                    span.genre-list-title
                      | Жанр:&nbsp;
                    .genre-list
                      = get_genres @band.genres
                  - if @band.band_members.count > 0
                    .base-info-block__info-line
                      span.mb-5
                        | Cостав:&nbsp;
                      ul.band-list
                        - @band.band_members.each do |member|
                          li = "#{member.name} - #{member.music_role.text}"
                  .band-repost-wrapper
                    .base-repost
                      .base-repost__title
                        | Поделиться:
                      .base-repost__links
                        = link_to '', class: 'base-repost__social-button base-repost__social-button--vk'
                          = render 'svg/vk_icon'
                        = link_to "//facebook.com/share.php?u=kemrockfest.ru#{request.fullpath}&title=#{@band.name}", class: 'base-repost__social-button base-repost__social-button--facebook', target: '_blank'
                          = render 'svg/fb_icon'
              .clearfix
            - if @band.band_slider_images.count > 0
              .row
                .col-xs-8.col-xs-offset-2.col-sm-10.col-sm-offset-1
                  .base-detail-page__slider id="band-slider"
                    - @band.band_slider_images.each do |slide|
                      = link_to slide.image.url, class: "base-detail-page__slide swipebox js-photo-open", "rel": "band", "title": slide.description
                        = image_tag slide.image.url
              .clearfix
            .row
              .col-sm-10.col-sm-offset-1
                .base-detail-page__text-block
                  == @band.description
              .clearfix
        .clearfix