body {
  font-size: 16px;
  font-family: Idealist-Sans, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  background: url("../images/kemrockest_bckgr.png") center fixed no-repeat;
}

a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;

  &:hover,
  &:active {
    color: $main_red;
    text-decoration: none;
  }

  &:hover svg,
  &:active svg {
    stroke: $main_red;
    fill: $main_red;
  }
}

.no-scrollable {
  overflow: hidden;
}

.background-mask {
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}

.block-title {
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 26px;
  text-align: center;

  a {
    font-size: 26px;

    @include at-sm {
      font-size: 40px;
    }
  }

  @include at-sm {
    font-size: 40px;
  }

  @include at-md {
    text-align: left;
  }
}

.hidden-block {
  display: none;
}

.show-more {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #000;
  height: 40px;
  width: 80px;
  padding: 0 10px;
  margin: 20px auto 70px;
}

.show-more__plus_icon {
  width: 15px;
  height: 15px;

  & svg {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }
}

.show-more__text {
  font-size: 16px;
  line-height: 15px;
}

.separator {
  margin: 70px 0;
  border: 1px #000 solid;
}

.base-home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include at-xs {
    margin-bottom: 50px;
  }

  @include at-md {
    margin-bottom: 200px;
  }
}

.popup-mask {
  display: none;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
  position: fixed;

  &.active {
    display: block;
  }
}

.popup-page-wrapper {
  position: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 50%;
  top: -1000px;
  transform: translateX(-50%);
  z-index: 20;
  width: 100%;
  height: 100vh;
  overflow: auto;
  transition: all 0.3s ease-in-out;

  &.active {
    top: 0;
  }

  .popup-page {
    position: relative;
    background: #fff;
    outline-offset: -10px;
    outline: 3px #000 solid;
    color: #000;

    @include at-xs {
      padding: 60px 20px 50px 20px;
    }

    @include at-sm {
      padding: 50px;
    }
  }

  .popup-page-container {
    .slick-slide {
      height: unset !important;
    }
  }

  .popup-page__close-button {
    position: absolute;
    top: 33px;
    right: 33px;

    & svg {
      cursor: pointer;
    }
  }

  .popup-page__article-type {
    color: $main_red;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .popup-page__title {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 40px;
  }

  .popup-page__content-block {
    margin-bottom: 20px;
  }

  .popup-page__iframe {
    & iframe {
      width: 100%;
    }
  }
}

.base-repost {
  @include at-xs {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @include at-sm {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.base-repost__title {
  @include at-xs {
    font-size: 14px;
    line-height: 20px;
  }

  @include at-sm {
    font-size: 20px;
    line-height: 30px;
  }
}

.base-repost__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.base-repost__social-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-radius: 50%;

  @include at-xs {
    height: 20px;
    width: 20px;
  }

  @include at-sm {
    height: 40px;
    width: 40px;
  }
}

.base-repost__social-button--vk {
  background: #507299;
  svg {
    @include at-xs {
      height: 7px;
    }

    @include at-sm {
      height: 14px;
    }
  }
}

.base-repost__social-button--facebook {
  background: #3b5998;

  svg {
    @include at-xs {
      height: 10px;
    }

    @include at-sm {
      height: 20px;
    }
  }
}