
.last-concert-wrapper {
  padding: 0 15px;
  padding-top: 50px;
  margin-bottom: 50px;

  @include at-md {
    margin-bottom: 150px;
  }

  .last-concert-image {
    width: 100%;
  }

  .last-concert-info {
    background: $popup_background;
    text-align: center;
    overflow: hidden;
    outline: 1px #fff solid;
    outline-offset: -10px;
    color: #fff;

    @include at-xs {
      padding: 15px;
    }

    @include at-sm {
      padding: 20px;
    }

    @include at-md {
      background: $main_background;
      outline: 2px solid #fff;
      outline-offset: -20px;
      padding: 47px 40px;
    }

    a {
      &:hover {
        text-decoration: none;
      }

      .title {
        &:hover {
          color: $main_red;
          text-decoration: none;
        }

        @include at-xs {
          font-size: 14px;
          line-height: 20px;
          color: $main_red;
          margin-bottom: 5px;
        }

        @include at-sm {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 10px;
        }

        @include at-md {
          font-size: 36px;
          line-height: 40px;
          margin-bottom: 12px;
        }
      }
    }

    .place {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 10px;

      @include at-sm {
        font-size: 18px;
        line-height: 18px;
      }

      @include at-md {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 23px;
      }
    }

    .date-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      padding: 0;


      @include at-xs {
        display: none;
      }

      @include at-sm {
        display: flex;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 10px
      }

      @include at-md {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 26px;
        padding: 0 56px;
      }

      .date {
      }

      .time {
        text-transform: uppercase;
      }
    }

    .bands {
      width: 100%;
      margin-bottom: 0;

      @include at-md {
        margin-bottom: 40px;
      }

      .anonce-band {
        margin-bottom: 5px;
        font-size: 10px;
        line-height: 10px;

        @include at-sm {
          font-size: 16px;
          line-height: 20px;
        }

        @include at-md {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }

    .payment {
      text-align: center;
      margin-top: 5px;
      line-height: 25px;
      font-size: 12px;

      @include at-sm {
        font-size: 18px;
      }

      @include at-md {
        text-align: start;
        margin-left: 57px;
        font-size: 30px;
        line-height: 36px;
      }
    }
  }

  .next-concerts-link {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100%;

    &:hover {
      color: $main_red;
    }

    @include at-sm {
      font-size: 30px;
      line-height: 40px;
      margin-top: 26px;
    }

    @include at-md {
      font-size: 40px;
      line-height: 50px;
      margin-top: 26px;
    }
  }
}