.base-home-wrapper
  .concerts-content.par id="concerts"
    .row
      .col-xs-12.col-md-3
        h1.block-title Ожидаются

    .poster-wrapper-mobile
      - @concerts.each do |concert|
        .row
          .poster-mobile-content
            .col-xs-6
              = link_to concert_show_path(concert.slug), class: 'js-popup-link'
                = image_tag concert.poster_image.try(:url)
            .col-xs-6
              .poster-mobile-info-content
                .poster-mobile-title #{concert.name}
                .poster-mobile-text #{concert.place}
                .poster-mobile-date #{l concert.date_start.to_date} #{concert.date_start.hour}:#{concert.date_start.min.to_s.rjust(2, '0')}
                - concert.bands.each do |band|
                  .poster-mobile-band #{band.name}

                .poster-mobile-price Вход: #{concert.ticket_price}р.

    .posters-wrapper
      .row
        - unless @concerts[0].nil?
          .col-md-4.col-md-offset-1
            .poster-big
              = link_to concert_show_path(@concerts[0].slug), class: 'js-popup-link'
                = image_tag @concerts[0].poster_image.try(:url)
                .index-poster-info-big-wrapper
                  .index-poster-info-big-content
                    .poster-title--big #{@concerts[0].name}
                    .poster-medium-text--big #{@concerts[0].place}
                    .poster-medium-text--big #{l @concerts[0].date_start.to_date} #{@concerts[0].date_start.hour}:#{@concerts[0].date_start.min}

                    - @concerts[0].bands.each do |band|
                      .poster-band--big #{band.name}

                    .poster-price--big Вход: #{@concerts[0].ticket_price}р.

        .col-md-7
          - for i in 1..@concerts.count - 1
            - unless @concerts[i].nil?
              .poster-small
                = link_to concert_show_path(@concerts[i].slug), class: 'js-popup-link'
                  = image_tag @concerts[i].poster_image.try(:url)
                  .index-poster-info-small
                    .poster-title--small #{@concerts[i].name}
                    .poster-medium-text--small #{@concerts[i].place}
                    .poster-medium-text--small #{l @concerts[i].date_start.to_date} #{@concerts[i].date_start.hour}:#{@concerts[i].date_start.min}
                    - @concerts[i].bands.each do |band|
                      .poster-band--small #{band.name}

                    .poster-price--small Вход: #{@concerts[i].ticket_price}р.