.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .counter.par id="counter"
      h1.counter-header
        = @concerts[0].name
      .counter-block
        .counter-number
          .counter-number__number id="concert_days"
          .counter-number__title id="concert_days_title"
        .counter-colon =":"
        .counter-number
          .counter-number__number id="concert_hours"
          .counter-number__title id="concert_hours_title"
        .counter-colon =":"
        .counter-number
          .counter-number__number id="concert_minutes"
          .counter-number__title id="concert_minutes_title"
        .counter-colon =":"
        .counter-number
          .counter-number__number id="concert_seconds"
          .counter-number__title id="concert_seconds_title" СЕКУНД