.base-home-wrapper
  .articles-content.par id="news"
    .col-sm-12
      h1.block-title Новости

    .articles-mobile-wrapper
      .row
        - for i in 0..5
          - unless @news[i].nil?
            .col-xs-12.col-sm-6
              .article-mobile-content
                = link_to news_path(@news[i].slug), class: 'js-popup-link'
                  = image_tag @news[i].news_image.try(:url)
                  .article-mobile-text
                    .article-mobile-text__date #{@news[i].date_publication.strftime("%d.%m.%Y")}
                    .article-mobile-text__title #{@news[i].name}

    .articles
      .row
        .col-md-5.col-md-offset-1
          .article-big
            = link_to news_path(@news[0].slug), class: 'js-popup-link'
              = image_tag @news[0].news_image.try(:url)
              .article-big-text
                .article-big-text__date #{@news[0].date_publication.strftime("%d.%m.%Y")}
                .article-big-text__title #{@news[0].name}
        .col-md-6
          - for i in 1..4
            - unless @news[i].nil?
              .article-small
                = link_to news_path(@news[i].slug), class: 'js-popup-link'
                  = image_tag @news[i].news_image.try(:url)
                  .article-small-info
                    .article-small-text__date #{@news[i].date_publication.strftime("%d.%m.%Y")}
                    .article-small-text__title #{@news[i].name}