.base-home-wrapper
  .articles-content.par id="photos"
    .col-sm-12
      h1.block-title Фотоотчеты

    .articles-mobile-wrapper
      .row
        - @photo_albums.each do |album|
          .col-xs-12.col-sm-6
            .article-mobile-content
              = link_to gallery_show_path(album.photo_album.slug)
                = image_tag album.photo_album.preview_image.try(:url)
                .article-mobile-text
                  .article-mobile-text__date #{album.date_start.strftime("%d.%m.%Y")}
                  .article-mobile-text__title #{album.photo_album.name}


    .articles
      .row
        .col-md-5.col-md-offset-1
          .article-big
            = link_to gallery_show_path(@photo_albums[0].photo_album.slug)
              = image_tag @photo_albums[0].photo_album.preview_image.try(:url)
              .article-big-text
                .article-big-text__date #{@photo_albums[0].date_start.strftime("%d.%m.%Y")}
                .article-big-text__title #{@photo_albums[0].photo_album.name}

        .col-md-6
          - for i in 1..4
            - unless @photo_albums[i].nil?
              .article-small
                = link_to gallery_show_path(@photo_albums[i].photo_album.slug)
                  = image_tag @photo_albums[i].photo_album.preview_image.try(:url)
                  .article-small-info
                    .article-small-text__date #{@photo_albums[i].date_start.strftime("%d.%m.%Y")}
                    .article-small-text__title #{@photo_albums[i].photo_album.name}