.base-home-wrapper
  .articles-content.par id="videos"
    .col-sm-12
      h1.block-title Видео

    .articles-mobile-wrapper
      .row
        - @videos.each do |video|
          .col-xs-12.col-sm-6
            .article-mobile-content
              = link_to video_show_path(video.slug), class: 'js-popup-link'
                = image_tag video.preview_image.try(:url)
                .article-mobile-text
                  .article-mobile-text__date 22.05.2017
                  .article-mobile-text__title Rock Festival Eclipse

    .articles
      .row
        .col-md-5.col-md-offset-1
          .article-big
            = link_to video_show_path(@videos[0].slug), class: 'js-popup-link'
              = image_tag @videos[0].preview_image.try(:url)
              .article-big-text
                .article-big-text__date #{@videos[0].date_publication.strftime("%d.%m.%Y")}
                .article-big-text__title = @videos[0].name
        .col-md-6
          - for i in 1..@videos.length-1
            - unless @videos[i].nil?
              .article-small
                = link_to video_show_path(@videos[i].slug), class: 'js-popup-link'
                  = image_tag @videos[i].preview_image.try(:url)
                  .article-small-info
                    .article-small-text__date #{@videos[i].date_publication.strftime("%d.%m.%Y")}
                    .article-small-text__title = @videos[i].name