.page-nav-dots-wrapper
  = link_to '', '#counter', class: "nav-dot active"
  = link_to '', '#concerts', class: "nav-dot"
  = link_to '', '#photos', class: "nav-dot"
  = link_to '', '#news', class: "nav-dot"
  = link_to '', '#videos', class: "nav-dot"

.container
  - if @concerts.count > 0
    = render 'home/counter'
    = render 'home/concert'
  - if @photo_albums.count > 0
    = render 'home/photos'
  - if @news.count > 0
    = render 'home/news'
  - if @videos.count > 0
    = render partial: 'home/videos'

  = content_tag :div, id: 'last_concert_time', class: "hidden-block", data: {last_concert_time: @last_concert_time} do