.base-home-wrapper
  .container
    .row
      .videos-container
        .col-md-4.video-block
          .title-block
            h4 22.10.2016г.
            h4 Rock Festival Eclipse

          = link_to '#'
            .video-poster
              = image_tag 'dev_video.jpg'
              .bands
                p Around the World in 80 days
                p Port Royal
                p Water, Please
                p А-Симметрия
                p Jahksinia

        .col-md-4.video-block
          .title-block
            h4 22.10.2016г.
            h4 Rock Festival Eclipse

          = link_to '#'
            .video-poster
              = image_tag 'dev_video.jpg'
              .bands
                p Around the World in 80 days
                p Port Royal
                p Water, Please
                p А-Симметрия
                p Jahksinia

        .col-md-4.video-block
          .title-block
            h4 22.10.2016г.
            h4 Rock Festival Eclipse

          = link_to '#'
          .video-poster
            = image_tag 'dev_video.jpg'
            .bands
              p Around the World in 80 days
              p Port Royal
              p Water, Please
              p А-Симметрия
              p Jahksinia

  .container
    .separator

  .container
    .row
      .videos-container
        .col-md-4.video-block
          .title-block
            h4 22.10.2016г.
            h4 Rock Festival Eclipse

          = link_to '#'
          .video-poster
            = image_tag 'dev_video.jpg'
            .bands
              p Around the World in 80 days
              p Port Royal
              p Water, Please
              p А-Симметрия
              p Jahksinia

        .col-md-4.video-block
          .title-block
            h4 22.10.2016г.
            h4 Rock Festival Eclipse

          = link_to '#'
          .video-poster
            = image_tag 'dev_video.jpg'
            .bands
              p Around the World in 80 days
              p Port Royal
              p Water, Please
              p А-Симметрия
              p Jahksinia

        .col-md-4.video-block
          .title-block
            h4 22.10.2016г.
            h4 Rock Festival Eclipse

          = link_to '#'
          .video-poster
            = image_tag 'dev_video.jpg'
            .bands
              p Around the World in 80 days
              p Port Royal
              p Water, Please
              p А-Симметрия
              p Jahksinia