.page-container {
  min-height: calc((100vh  + 76px) / 2);
}

.base-wrapper {
  .base-container {
    margin-bottom: 70px;

    .base-image {

      img {
        max-height: 400px;
        width: 100%;
      }
    }

    .base-info{
      background: $main_background;
      padding: 20px;
      color: #fff;

      @include at-xs {
        text-align: center;
      }

      @include at-sm {
        text-align: inherit;
      }

      a {
        &:hover {
          color: $main_red;
          text-decoration: none;
        }
      }

      .base-title {
        margin-top: 0;
        text-decoration: none;
        text-align: center;

        @include at-xs {
          font-size: 18px;
          line-height: 20px;
        }

        @include at-sm {
          font-size: 30px;
          line-height: 34px;
        }
      }

      p {
        margin-bottom: 5px;
        line-height: 20px;

        @include at-xs {
          font-size: 14px;
        }

        @include at-sm {
          font-size: 18px;
        }
      }
    }
  }
}

.base-detail-page__rep-base {
  .base-info-block__title {
    @include at-xs {

    }

    @include at-sm {
      margin-bottom: 30px;
    }
  }

  .base-detail-page__image-block {
    @include at-xs {
      margin-bottom: 10px;
    }

    @include at-sm {
      margin-bottom: 40px;
    }
  }

  .base-mobile-repost {
    @include at-xs {
      margin-left: -20px;
    }

    @include at-sm {
      margin-left: 0;
    }
  }
}