.new-container
  .row
    .col-xs-12.col-md-6.new-poster
      = link_to news_path(new.slug), class: 'js-popup-link'
        = image_tag new.news_image.url

    .col-xs-12.col-md-6
      .new-info
        .date = l new.date_publication
        .name = new.name
        .news-description
          == new.preview_description

        = link_to 'Читать далее...', news_path(new.slug), class: 'more-info show-popup-page js-popup-link'