input {
  color: #000;
}

.subscribe-form {
  .form-input {
    width: 170px;
    height: 24px;
    padding: 11px 0 8px 15px;
    color: #000;
    font-size: 12px;
    line-height: 24px;
    border: 0;

    @include at-sm {
      padding: 8px 15px;
      font-size: 14px;
      margin-right: -5px;
      height: 36px;
      width: 263px;
    }
  }

  .form-button {
    height: 24px;
    width: 38px;
    border: 0;
    color: #fff;
    background: $main_red;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;

    @include at-sm {
      margin: 0;
      padding: 0;
      width: 60px;
      height: 36px;
      font-size: 14px;
    }
  }
}