.new-container
  .row
    .col-xs-12.col-md-6.new-poster
      = link_to article_show_path(article.slug), class: 'js-popup-link'
        = image_tag article.article_image.url

    .col-xs-12.col-md-6
      .new-info
        .date = l article.date_publication
        .name = article.name
        .news-description
          == article.preview_description

        = link_to 'Читать далее...', article_show_path(article.slug), class: 'more-info show-popup-page js-popup-link'