.article-detail-wrapper
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        .base-detail-page.js-page-container
          .base-detail-container
            .row
              .col-xs-11.col-xs-offset-1.col-sm-10.col-sm-offset-1
                .base-detail-page__info-block
                  .base-info-block__article-type
                    = get_article_type(@article)
                  h1.base-info-block__title.base-info-block__title--article
                    = @article.name
                  .base-detail-page__text-block
                    == @article.description
                  .base-repost
                    .base-repost__title
                      | Поделиться:
                    .base-repost__links
                      = link_to '', class: 'base-repost__social-button base-repost__social-button--vk'
                        = render 'svg/vk_icon'
                      = link_to "//facebook.com/share.php?u=kemrockfest.ru#{request.fullpath}&title=#{@article.name}", class: 'base-repost__social-button base-repost__social-button--facebook', target: '_blank'
                        = render 'svg/fb_icon'