.band-wrapper {
  .band-container {
    @include at-xs {
      margin-bottom: 20px;
    }

    @include at-sm {
      margin-bottom: 70px;
    }

    .band-image {

      img {
        width: 100%;
      }
    }

    .band-info {
      background: $main_background;
      color: #fff;
      letter-spacing: 0.5px;
      outline: 2px #fff solid;

      @include at-xs {
        outline-offset: -10px;
        padding: 15px 22px;
      }

      @include at-sm {
        outline-offset: -20px;
        padding: 47px 40px;
      }

      .band-title {
        color: $main_red;
        text-align: center;
        margin-top: 0;
        text-transform: capitalize;
        line-height: 34px;

        @include at-xs {
          font-size: 20px;
          margin-bottom: 10px;
        }

        @include at-sm {
          font-size: 30px;
          margin-bottom: 15px;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .band-info-text {
        @include at-xs {
          font-size: 12px;
          line-height: 20px;
          margin-bottom: 0;
        }

        @include at-sm {
          line-height: 20px;
          font-size: 18px;
          margin-bottom: 18px;
        }

        a {
          color: $main_red;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .date {
        @include at-xs {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 0;
        }

        @include at-sm {
          line-height: 20px;
          font-size: 18px;
          margin-bottom: 18px;
        }
      }

      .people {
        margin-bottom: 0;
      }

      ul {
        list-style: none;
        padding-left: 20px;

        li {
          @include at-xs {
            font-size: 12px;
            line-height: 14px;
          }

          @include at-sm {
            font-size: 18px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
.band-detail-wrapper {
  .base-detail-page__image-block {
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .base-info-block__info-line {
    ul {
      display: block;
    }
  }
}