.base-detail-page {
  background: #fff;
  color: #000;

  @include at-xs {
    padding: 20px 15px 40px;
    outline: 1px #000 solid;
    outline-offset: -5px;
  }

  @include at-sm {
    padding: 50px 50px 80px;
    outline: 3px #000 solid;
    outline-offset: -10px;
  }
}

.base-detail-page--band {
  @include at-xs {
    padding: 20px 15px 40px;
  }

  @include at-md {
    padding: 50px 50px 80px;
  }
}

.base-detail-page__image-block {
  img {
    width: 100%;
  }
}

.base-detail-page__image-block--base {
  margin-bottom: 20px;
}

.base-detail-page__info-block {
  position: relative;
  word-wrap: break-word;

  @include at-xs {
    margin-left: -20px;
  }

  @include at-sm {
    margin-left: 0;
  }
}

.base-info-block__article-type {
  color: #ff6161;
  line-height: 24px;
  margin-bottom: 15px;

  @include at-xs {
    font-size: 16px;
  }

  @include at-sm {
    font-size: 18px;
  }
}

.base-info-block__title {
  color: $main_red;
  text-align: center;
  margin-top: 0;

  @include at-xs {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  @include at-sm {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 20px;
  }
}

.base-info-block__title--article {
  text-align: left;
  color: #000;
}

.base-info-block__info-line {
  word-wrap: break-word;
  position: relative;

  @include at-xs {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  @include at-sm {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }

  span {
    color: $main_blue;

    @include at-xs {
      display: block;
    }

    @include at-sm {
      display: inline;
    }
  }

  .span-with-margin-10 {
    @include at-xs {
      margin-bottom: 10px;
    }

    @include at-sm {
      margin-bottom: 0;
    }
  }

  .inline-span {
    display: inline;
  }

  ul {
    display: inline-grid;
    list-style: none;
    padding-left: 0;

    @include at-xs {
      margin-bottom: 0;
    }

    @include at-sm {
      margin-bottom: 10px;
    }

    li {
      @include at-xs {
        margin-bottom: 5px;
      }

      @include at-sm {
        margin-bottom: 0;
      }
    }
  }

  a {
    color: $main_red;

    &:hover {
      text-decoration: underline;
    }
  }
}

.base-detail-page__text-block {
  line-height: 24px;

  @include at-xs {
    font-size: 16px;
    margin-top: 10px;
  }

  @include at-sm {
    font-size: 18px;
    margin-top: 50px;
  }

  p {
    line-height: 24px;

    @include at-xs {
      font-size: 16px;
    }

    @include at-sm {
      font-size: 18px;
    }
  }

  a {
    color: $main_red;
    &:hover {
      text-decoration: underline;
    }
  }
}

.base-detail-page__text-block--article {
  margin-top: 20px;
}

.base-detail-page__text-block--min-margin {
  margin-top: 10px;
}

.base-detail-page__slider {
  position: relative;
  //max-height: 200px;

  @include at-xs {
    margin-top: 10px;
    margin-bottom: 10px;
    //height: 110px;
  }

  @include at-sm {
    margin-top: 50px;
    margin-bottom: 0;
    //height: 120px;
  }

  @include at-md {
    //height: 100px;
  }
}

.base-detail-page__slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background: #000;
  border: none;
  border-radius: 50%;
  z-index: 1;
}

.base-detail-page__slider-arrow--prev {
  left: -45px;
  background: #000 url("../svg/left-arrow.svg") no-repeat center;
}

.base-detail-page__slider-arrow--next {
  right: -45px;
  background: #000 url("../svg/right-arrow.svg") no-repeat center;
}

.base-detail-page__slide {
  overflow: hidden;
  max-height: 144px;

  @include at-xs {
    margin: 0;
  }

  @include at-sm {
    margin: 0 15px;
    max-height: 96px;
  }
  img {
    width: 100%;
  }
}


.band-detail-image {
  margin-top: 5px;
}

.band-detail-image--band {
  margin-top: 15px;
  margin-bottom: 40px;
}

.band-repost-wrapper {
  top: 0;

  @include at-xs {
    position: relative;
  }

  @include at-sm {
    position: absolute;
    right: -45%;
  }

  @include at-md {
    right: -35%;
  }

  .base-repost {
    margin: 0;
    margin-bottom: 10px;
  }
}

.base-detail-page__map {
  height: 356px;
  margin-bottom: 30px;
}

.base-detail-page__slider-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.base-detail-page__slider-grid-image {
  display: inline-block;
  outline: 2px solid #000;
  outline-offset: 1px;


  @include at-xs {
    width: 54px;
    height: 54px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  @include at-sm {
    width: 70px;
    height: 70px;
    margin-right: 29px;
    margin-bottom: 35px;
  }

  @include at-lg {
    width: 93px;
    height: 93px;
    margin-right: 42px;
    margin-bottom: 35px;
  }

  &:hover, &:active {
    outline: 2px solid #000;
    outline-offset: 1px;
  }

  img {
    width: 100%;
  }
}

.base-detail-page__video-block {
  margin: 20px 0;

  & iframe {
    width: 100%;

    @include at-xs {
      height: 50%;
    }

    @include at-md {
      height: 480px;
    }
  }
}

.inline {
  display: inline !important;
}

.genre-list {
  @include at-xs {
    margin-left: 50px;
  }

  @include at-sm {
    margin-left: 70px;
  }
}

.genre-list-title {
  position: absolute;
  top: 0;
  left: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.no-margin {
  margin: 0;
}