footer {
  background-color: #000;
  text-align: center;
  padding: 10px 0;

  @include at-xs {
    margin-top: 65px;
  }

  @include at-md {
    margin-top: 70px;
  }

  .author {
    margin-top: 15px;
    font-size: 10px;
    text-align: center;

    @include at-sm {
      font-size: 12px;
      margin-top: 20px;
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #ff6161;
    }
  }
}