.header {
  margin-top: 20px;
  margin-bottom: 70px;
  height: 140px;
  background: $main_background;
  justify-content: space-between;
  align-items: center;

  @include at-xs {
    display: none;
  }

  @include at-md {
    display: flex;
  }

  .title {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-left: 50px;

    .logo {
    }

    .title-text {
      font-size: 42px;
      color: #fff;
      text-decoration: none;
      margin: 0;
      padding: 0;
    }
  }

  .navbar {
    display: flex;
    margin-right: 50px;
    justify-content: space-between;
    margin-bottom: 0;

    .menu-link {
      border-bottom: transparent 2px solid;
      color: #fff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;

      &:hover {
        border-bottom: #fff 2px solid;
      }
    }
    .dropdown {
      position: relative;
      cursor: default;

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: transparent;
        padding: 12px 16px;
        z-index: 1;
        right: -25px;
      }

      &:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
    .menu-link--active {
      border-bottom: #fff 2px solid;
      color: #fff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
    }
  }
}

.header-mobile {
  background: #000;
  height: 60px;
  width: 100%;
  margin-bottom: 50px;

  @include at-xs {
    display: block;
  }

  @include at-md {
    display: none;
  }

  .header-mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    background: #000;
    width: 100%;
    z-index: 100;

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .logo {
        width: 50px;
      }

      .title-text {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        padding: 0;
      }
    }

    .mobile-menu-button {
      width: 28px;

      & svg {
        fill: #fff;
        stroke: none;
      }
    }

    .mobile-menu-button.active svg {
      fill: $main_red;
    }
  }

  .header-mobile__bottom-block {
    margin-bottom: 40px;
  }

  .header-mobile-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 0 15px;
    position: fixed;
    top: 59px;
    overflow: hidden;
    height: 0;
    z-index: 100;
    transition: height .3s linear;
    width: 100%;

    .mobile-links {
      display: block;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 10px;

      .menu-link {
        display: block;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 20px;
      }

      .menu-link--active {
        display: block;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 20px;
        color: $main_red;
      }
    }

    .mobile-subscribe {
      text-align: center;
      margin-bottom: 20px;

      .subscribe-title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }

    .author {
      font-size: 10px;
      text-align: center;
      margin-bottom: 30px;

      a {
        color: $main_red;
      }
    }
  }

  .header-mobile-popup.active {
    overflow: scroll;
    transition: height .3s linear;

    .mobile-links {
      display: block;
      text-align: center;

      .menu-link {
        display: block;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 20px;
      }
    }

    .mobile-subscribe {
      text-align: center;
      margin-bottom: 20px;

      .subscribe-title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }

    .author {
      font-size: 10px;
      text-align: center;
      margin-bottom: 30px;

      a {
        color: $main_red;
      }
    }
  }
}