.subscribe-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;

  @include at-sm {
    padding-top: 26px;
  }
}

.subscribe-title {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  margin-top: 0;

  @include at-sm {
    font-size: 22px;
    line-height: 30px;
  }
}

.js-form-errors-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    color: $main_red;
    margin-top: 5px;
  }
}