.videos-wrapper {
  .videos-container {

    @include at-xs {
      margin-bottom: 40%;
    }

    @include at-md {
      margin-bottom: 20px;
    }

    .video-block {

      &:hover .video-poster {
        -webkit-box-shadow: 0px 6px 51px 16px rgba(38, 38, 38, 0.36);
        -moz-box-shadow: 0px 6px 51px 16px rgba(38, 38, 38, 0.36);
        box-shadow: 0px 6px 51px 16px rgba(38, 38, 38, 0.36);
      }

      .title-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    .video-link {
      display: block;

      .video-poster {
        position: relative;
        text-align: center;

        @include at-xs {
          margin-bottom: 30%;
        }

        @include at-md {
          margin-bottom: 0;
        }

        img {
          width: 100%;
        }

        .description {
          display: block;
          position: absolute;
          background: $popup_background;
          width: 100%;
          top: 0;
          text-align: center;
          color: #fff;
          overflow: hidden;
          outline-offset: -8px;
          outline: 2px #fff solid;
          transition: all 200ms ease-in-out;

          @include at-xs {
            height: 100%;
            padding: 20px;
            opacity: 1;
            margin-top: 30%;
          }

          @include at-md {
            opacity: 0;
            padding: 0 20px;
            height: 0;
            margin-top: 0;
          }

          .description__text {
            font-size: 18px;
            line-height: 20px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            padding: 0 28px;
          }
        }

        &:hover .description {
          height: 100%;
          padding: 20px;
          opacity: 1;
        }
      }
    }
  }
}