<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 20">
  <defs>
    <style></style>
  </defs>
  <title>menu_icon</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="menu">
      <rect class="cls-1" width="25" height="4.71" rx="2" ry="2"/>
      <rect class="cls-1" y="7.65" width="25" height="4.71" rx="2" ry="2"/>
      <rect class="cls-1" y="15.29" width="25" height="4.71" rx="2" ry="2"/>
    </g>
  </g>
</svg>