<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.69 15">
  <defs>

  </defs>
  <title>plus</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="plus">
      <line class="cls-1" x1="7.5" x2="7.5" y2="15"/>
      <line class="cls-1" y1="7.5" x2="15.69" y2="7.5"/>
    </g>
  </g>
</svg>