@font-face {
  font-family: "Idealist-Sans";
  src: url("idealistsans/Idealist.otf");
}
@font-face {
  font-family: "Idealist-Sans Light";
  src: url("idealistsans/Idealist-Light.otf");
}
@font-face {
  font-family: 'Fira Sans';
  src: url("Fira_Sans/FiraSans-Regular.ttf");
}

// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "bootstrap-compass";

@import "../../../vendor/assets/javascripts/swipebox/css/swipebox.min";
@import "../../../vendor/assets/javascripts/slick/slick.scss";
@import "../../../vendor/assets/javascripts/slick/slick-theme.scss";

@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "base/base_blocks/header";
@import "base/base_blocks/footer";
@import "base/base_blocks/detail_page";
@import "base/base_blocks/subscribe_form";
@import "base/ui/ui";
@import "base/ui/typorgaphy";

@import "home/home";
@import "concerts/concerts";
@import "press/gallery/gallery";
@import "press/news/news";
@import "press/articles/articles";
@import "press/videos/videos";
@import "bands/bands";
@import "bases/bases";
