.new-section {

  @include at-xs {
    padding: 0 15px;
  }

  @include at-md {
    padding: 0;
  }

  .new-container {
    margin-bottom: 70px;

    .new-poster {
      img {
        width: 100%;
      }

      a {
        display: block;
      }
    }

    .new-info {
      background: $main_background;
      outline: 2px #fff solid;
      text-align: center;

      @include at-xs {
        margin-top: -30%;
        outline-offset: -5px;
        padding: 20px;
      }

      @include at-sm {
        outline-offset: -20px;
        padding: 40px;
      }

      @include at-md {
        margin-top: 0;
      }

      .date {
        text-align: left;

        @include at-xs {
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 15px;
        }

        @include at-sm {
          font-size: 22px;
          line-height: 36px;
          margin-bottom: 27px;
        }

        @include at-sm {
          font-size: 20px;
          line-height: 34px;
        }
      }

      .name {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;

        @include at-sm {
          font-size: 26px;
          line-height: 36px;
        }

        @include at-sm {
          font-size: 30px;
          line-height: 34px;
        }
      }

      .news-description {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;

        @include at-xs {
          display: none;
        }

        @include at-sm {
          display: block;
        }
      }

      .more-info {
        display: block;
        color: $main_red;

        @include at-xs {
          font-size: 16px;
          text-align: center;
        }

        @include at-sm {
          font-size: 20px;
          text-align: right;
        }

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}