@import "base/variables";

.concerts-title {
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 40px;
}

.posters-wrapper {
  display: none;

  @include at-md {
    display: block;
  }
}

.poster-big {
  position: relative;
  z-index: 1;

  &:hover {
    -webkit-box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
    -moz-box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
    box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
  }

  & a {
    color: #fff;
    text-decoration: none;
  }

  & img {
    width: 100%;
  }

  .index-poster-info-big-wrapper {
    position: absolute;
    display: block;
    background: $popup_background;
    top: 0;
    left: 0;
    padding: 10px;
    opacity: 0;
    z-index: 20;
    width: 100%;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    outline: 2px #fff solid;
    outline-offset: -14px;
    transition: all 200ms linear;

    .index-poster-info-big-content {
      padding: 30px 25px;
      height: 100%;
      text-align: center;

      & div:nth-child(4) {
        padding-top: 10px;
      }

      .poster-title--big {
        margin-top: 0;
        margin-bottom: 20px;
        color: $main_red;
        font-size: 30px;
        line-height: 30px;
      }

      .poster-medium-text--big {
        padding-top: 0;
        padding-bottom: 20px;
        font-size: 26px;
        line-height: 30px;
      }

      .poster-band--big {
        padding: 5px 0;
        font-size: 26px;
        line-height: 30px;
      }

      .poster-price--big {
        margin-top: 75px;
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  &:hover .index-poster-info-big-wrapper {
    opacity: 1;
    max-height: 1000px;
    min-height: 100%;
    transition: all 200ms linear;
  }
}

.poster-small {
  position: relative;
  width: 170px;
  height: 240px;
  display: inline-block;
  float: left;
  margin: 15px;
  z-index: 1;

  &:first-child,
  &:nth-child(2),
  &:nth-child(3) {
    margin-top: 0;
  }

  &:nth-child(3),
  &:last-child {
    margin-right: 0;
  }

  &:nth-child(4),
  &:nth-child(5),
  &:last-child {
    margin-bottom: 0;
    margin-top: 15px;
  }

  &:first-child,
  &:nth-child(4) {
    margin-left: 0;
  }

  &:hover {
    -webkit-box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
    -moz-box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
    box-shadow: 0px 6px 51px 16px rgba(38,38,38,0.36);
  }

  &:hover .index-poster-info-small {
    opacity: 1;
    max-height: 1000px;
    min-height: 100%;
    transition: all 200ms linear;
  }

  & a {
    color: #fff;
    text-decoration: none;
  }

  & img {
    width: 100%;
  }

  .index-poster-info-small {
    position: absolute;
    display: block;
    background: $popup_background;
    top: 0;
    left: 0;
    padding: 15px;
    opacity: 0;
    z-index: 15;
    width: 100%;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    outline: 1px #fff solid;
    outline-offset: -10px;
    transition: all 200ms linear;
    color: #fff;
    text-align: center;

    .poster-title--small {
      margin-bottom: 10px;
      color: $main_red;
      font-size: 14px;
      line-height: 20px;
    }

    .poster-medium-text--small {
      font-size: 12px;
      line-height: 20px;

      &:nth-child(3) {
        margin-bottom: 10px;
      }
    }

    .poster-band--small {
      font-size: 12px;
      line-height: 20px;
    }

    .poster-price--small {
      margin-top: 10px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.poster-wrapper-mobile {
  display: block;
  padding: 0 15px;

  @include at-md {
    display: none;
  }

  .poster-mobile-content {

    & img {
      width: 100%;
      margin-bottom: 50px;
    }

    .poster-mobile-info-content {
      display: block;
      background: $popup_background;
      overflow: hidden;
      outline: 1px #fff solid;
      outline-offset: -10px;
      color: #fff;
      text-align: center;
      margin-bottom: 50px;

      @include at-xs {
        padding: 15px;
      }

      @include at-sm {
        padding: 20px;
      }

      .poster-mobile-title {
        color: $main_red;
        margin-bottom: 5px;

        @include at-xs {
          font-size: 14px;
          line-height: 20px;
        }

        @include at-sm {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }

      .poster-mobile-date {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 10px;

        @include at-xs {
          display: none;
        }

        @include at-sm {
          display: block;
        }
      }

      .poster-mobile-text {
        margin-bottom: 10px;

        @include at-xs {
          font-size: 12px;
          line-height: 16px;
        }

        @include at-sm {
          font-size: 18px;
          line-height: 18px;
        }
      }

      .poster-mobile-band {
        margin-bottom: 5px;

        @include at-xs {
          font-size: 10px;
          line-height: 10px;
        }

        @include at-sm {
          font-size: 16px;
          line-height: 20px;
        }
      }

      .poster-mobile-price {
        margin-top: 5px;
        line-height: 25px;

        @include at-xs {
          font-size: 12px;
        }

        @include at-sm {
          font-size: 18px;
        }
      }
    }
  }
}