.counter {
  padding: 70px 0 78px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include at-md {
    padding-top: 115px;
    padding-bottom: 254px;
  }
}

.counter-header {
  text-align: center;
  font-size: 24px;
  margin: 0 0 22px;
  line-height: 20px;

  @include at-md {
    font-size: 60px;
    margin: 0 0 20px;
    line-height: 62px;
  }
}

.counter-block {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .counter-number {
    margin: 0;

    @include at-md {
      margin: 0 15px;
    }

    .counter-number__number {
      height: 60px;
      width: 60px;
      background-color: rgba(0,0,0,0.82);
      text-align: center;
      display: inline-block;
      line-height: 60px;
      vertical-align: middle;
      font-size: 30px;
      font-family: 'Fira Sans', sans-serif;

      @include at-sm {
        height: 100px;
        width: 100px;
        font-size: 62px;
        line-height: 100px;
      }

      @include at-md {
        height: 150px;
        width: 150px;
        font-size: 92px;
        line-height: 150px;
      }
    }

    .counter-number__title {
      font-size: 12px;
      text-align: center;
      margin-top: 3px;
      text-transform: uppercase;

      @include at-sm {
        font-size: 20px;
        margin-top: 10px;
      }

      @include at-md {
        font-size: 28px;
        margin-top: 20px;
      }
    }
  }

  .counter-colon {
    font-size: 28px;
    margin: 0 4px;
    display: inline-block;
    line-height: 55px;
    height: 60px;
    font-family: 'Fira Sans', sans-serif;

    @include at-sm {
      line-height: 90px;
      height: 100px;
      margin: 0 15px;
      font-size: 56px;
    }

    @include at-md {
      font-size: 85px;
      margin: 15px 5px;
      line-height: normal;
      height: 150px;
    }
  }
}