@import "counter";
@import "concerts";
@import "articles";

.page-nav-dots-wrapper {
  display: none;
  position: fixed;
  right: 30px;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;

  @include at-md {
    display: block;
  }

  .nav-dot {
    background: #fff;
    height: 20px;
    width: 20px;
    margin: 5px 0;
    border-radius: 50%;
    display: block;

    &:hover {
      background: #000;
      border: 4px #fff solid;
    }
  }

  .nav-dot.active {
    background: #000;
    border: 4px #fff solid;
  }
}