footer
  .subscribe-block
    = form_for @subscriber, url: create_subscriber_path, remote: true, html: {class: "subscribe-form js-form"} do |f|
      h3.subscribe-title.js-form-title Подписаться на рассылку
      = f.text_field :email, class: "form-input", placeholder: "Ваш e-mail"
      = f.submit "OK", class: "form-button"
      .js-form-errors-block
  .container
    .row
      .col-xs-12.col-sm-12.col-md-4.col-md-offset-8
        .author
          = 'По вопросам к сайту: '
          = link_to 'Александр Головачев', '//vk.com/trackerzod'