= render 'layouts/popup_page'
header
  .header
    = link_to '/', class: 'title'
      = image_tag 'electric-guitar.png', class: "logo"
      h1.title-text KemRockFest
    nav.navbar
      = link_to 'Концерты', concert_index_path, class: "#{params[:controller] == "concert" ? "menu-link--active" : "menu-link"}"
      .dropdown href="#" class="dropdown #{params[:controller] == "gallery" || params[:controller] == "news" || params[:controller] == "article" || params[:controller] == "video" ? "menu-link--active" : "menu-link"}"
        span Пресса
        .dropdown-content
          = link_to 'Галерея', gallery_index_path, class: "#{params[:controller] == "gallery" ? "menu-link--active" : "menu-link"}"
          = link_to 'Новости', news_index_path, class: "#{params[:controller] == "news" ? "menu-link--active" : "menu-link"}"
          = link_to 'Статьи', article_index_path, class: "#{params[:controller] == "article" ? "menu-link--active" : "menu-link"}"
          = link_to 'Видео', video_index_path, class: "#{params[:controller] == "video" ? "menu-link--active" : "menu-link"}"

      = link_to 'Группы', band_index_path, class: "#{params[:controller] == "band" ? "menu-link--active" : "menu-link"}"
      = link_to 'Реп-точки', base_index_path, class: "#{params[:controller] == "bases" ? "menu-link--active" : "menu-link"}"

  .header-mobile
    .header-mobile-top
      = link_to '/', class: 'title'
        = image_tag 'electric-guitar.png', class: "logo"
        h1.title-text KemRockFest
      .mobile-menu-button
        = render 'svg/mobile_menu_icon'
    .header-mobile-popup
      .mobile-links
        .container
          .row
            .col-xs-12.col-sm-6
              = link_to 'Концерты', concert_index_path, class: "#{params[:controller] == "concert" ? "menu-link--active" : "menu-link"}"
            .col-xs-12.col-sm-6
              = link_to 'Галерея', gallery_index_path, class: "#{params[:controller] == "gallery" ? "menu-link--active" : "menu-link"}"
            .col-xs-12.col-sm-6
              = link_to 'Новости', news_index_path, class: "#{params[:controller] == "news" ? "menu-link--active" : "menu-link"}"
            .col-xs-12.col-sm-6
              = link_to 'Статьи', article_index_path, class: "#{params[:controller] == "article" ? "menu-link--active" : "menu-link"}"
            .col-xs-12.col-sm-6
              = link_to 'Видео', video_index_path, class: "#{params[:controller] == "video" ? "menu-link--active" : "menu-link"}"
            .col-xs-12.col-sm-6
              = link_to 'Группы', band_index_path, class: "#{params[:controller] == "band" ? "menu-link--active" : "menu-link"}"
            .col-xs-12.col-sm-6
              = link_to 'Реп-точки', base_index_path, class: "#{params[:controller] == "bases" ? "menu-link--active" : "menu-link"}"
      .header-mobile__bottom-block
        .mobile-subscribe
          h3.subscribe-title Подписаться на рассылку
          .subscribe-form
            input type="text" class="form-input" placeholder="Ваш e-mail"
            button type="submit" class="form-button" OK
        .author
          = 'Создание сайта: '
          = link_to 'Александр Головачев', '//vk.com/trackerzod'