.popup-mask
.popup-page-wrapper
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        .popup-page
          .popup-page__close-button
            = render 'svg/close_icon'
          .popup-page-container
      .clearfix