html
  head
    title Kemrockfest
    = csrf_meta_tags
    meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  body
    .background-mask
      = render 'layouts/header'
      .page-container
        = yield
      = render 'layouts/footer'

  script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"
  script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"